{{define "main"}}

<section
  class="inner-hero d-flex align-items-center"
  style="background: url(/assets/img/service-bg.jpg) top center no-repeat"
>
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-9 text-center mt-5">
        <h2 data-aos="fade-up">Job Opportunities</h2>
        <p data-aos="fade-up" data-aos-delay="400">
          Are you ready to be part of a dynamic team that values diversity,
          innovation, and excellence? Explore our current job openings and
          discover exciting opportunities to advance your career in the IT
          industry.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- ======= Features Section ======= -->
<section id="features" class="features">
  <div class="container" data-aos="fade-up">
    <div class="row justify-content-center mt-5 mb-4">
      <div class="col-md-9">
        <header class="section-header">
          <p>Employee Benefits</p>
          <br />
          <h2>
            At Alybyte Inc., we value our employees' well-being and growth. We
            offer a comprehensive benefits package designed to support your
            professional and personal development:
          </h2>
        </header>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <img src="/assets/img/careers.jpg" class="img-fluid" alt="" />
      </div>

      <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
        <div class="row align-self-center gy-4">
          <div class="col-md-12" data-aos="zoom-out" data-aos-delay="200">
            <div class="feature-box d-flex align-items-center">
              <i class="bi bi-check"></i>
              <h3>Competitive salary and performance-based bonuses</h3>
            </div>
          </div>

          <div class="col-md-12" data-aos="zoom-out" data-aos-delay="300">
            <div class="feature-box d-flex align-items-center">
              <i class="bi bi-check"></i>
              <h3>Health, dental, and vision insurance coverage</h3>
            </div>
          </div>

          <div class="col-md-12" data-aos="zoom-out" data-aos-delay="400">
            <div class="feature-box d-flex align-items-center">
              <i class="bi bi-check"></i>
              <h3>401(k) retirement plan with employer match</h3>
            </div>
          </div>

          <div class="col-md-12" data-aos="zoom-out" data-aos-delay="500">
            <div class="feature-box d-flex align-items-center">
              <i class="bi bi-check"></i>
              <h3>
                Professional development opportunities, including training and
                workshops
              </h3>
            </div>
          </div>

          <div class="col-md-12" data-aos="zoom-out" data-aos-delay="600">
            <div class="feature-box d-flex align-items-center">
              <i class="bi bi-check"></i>
              <h3>Flexible work arrangements to promote work-life balance</h3>
            </div>
          </div>

          <div class="col-md-12" data-aos="zoom-out" data-aos-delay="700">
            <div class="feature-box d-flex align-items-center">
              <i class="bi bi-check"></i>
              <h3>
                Diversity and inclusion programs to foster a welcoming
                environment
              </h3>
            </div>
          </div>

          <div class="col-md-12" data-aos="zoom-out" data-aos-delay="700">
            <div class="feature-box d-flex align-items-center">
              <i class="bi bi-check"></i>
              <h3>Paid time off and holidays</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- / row -->
  </div>
</section>
<!-- End Features Section -->

<section class="cta pb-5">
  <div class="footer-newsletter">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12 text-center">
          <h4 class="mb-4">JJoin Alybyte Inc.</h4>
          <p>
            Join Alybyte Inc. and embark on a journey of growth, collaboration,
            and innovation. Your skills and expertise will be valued as you
            contribute to cutting-edge projects in the IT industry. Apply today
            and become a part of our diverse and dynamic team!
          </p>
          <p>
            <a href="/contact-us" class="border-btn">Get Start</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!---->
{{end}}
